.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.layout__header {
  position: sticky;
  top: 0;
}

.layout__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.layout__footer {
  margin-top: auto;
}

.search {
  position: relative;
  width: 100%;
  max-width: 469px;
  min-width: 280px;
}

.search::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/media/search.svg");
}

.search__input {
  width: 100%;
  height: 48px;
  padding-left: 48px;
  padding-right: 20px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #959595;
  border-radius: 12px;
  background: transparent;
}

.slider {
  color: #fff;
}

.slider__title {
  margin-bottom: 24px;
  font-weight: bold;
}

.slider__limits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 14px;
}

.slider__limit-min,
.slider__limit-max {
  padding: 1px 5px;
  border: 1px solid #606060;
  border-radius: 3px;
}

.slider__limit-max {
  opacity: 0.5;
}

.noUi-target {
  height: 4px;
  border: none;
  background: #30303d;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.noUi-base {
  border-radius: 4px;
}

.noUi-connect {
  left: 8px;
  background: #85d62d;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(132, 213, 44, 0.31);
  box-shadow: 0px 3px 15px 0px rgba(132, 213, 44, 0.31);
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  background: linear-gradient(193.42deg, #85d62d 23.76%, #6bab2b 86.01%);
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 3px 5px 12px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 3px 5px 12px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
}

.noUi-horizontal .noUi-tooltip {
  bottom: 172%;
  padding: 3px 5px;
  color: #fff;
  background: #30303d;
  border: none;
}

.noUi-horizontal .noUi-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #30303d transparent transparent transparent;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 7px;
  background: #297019;
  border: none;
  border-radius: 20px;
  color: #fff;
}

.badge__text {
  font-size: 12px;
  font-weight: 400;
}

.badge__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 8px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: none;
  background: rgba(88, 170, 70, 0.9);
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.badge__close-icon {
  position: relative;
  width: 8px;
  height: 8px;
}

.badge__close-icon::before,
.badge__close-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background: #fff;
}

.badge__close-icon::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.badge__close-icon::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.checkbox-list {
  color: #fff;
}

.checkbox-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 204px;
  width: 100%;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.checkbox-list__arrow {
  pointer-events: none;
}

.checkbox-list__arrow::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin-bottom: 5px;
  border: 1px solid #959595;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-list_opened > .checkbox-list__title > .checkbox-list__arrow {
  margin-top: 5px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.checkbox-list__list {
  display: none;
}

.checkbox-list_expandable > .checkbox-list__list {
  display: none;
}

.checkbox-list_opened > .checkbox-list__list {
  display: block;
}

.checkbox-list__item {
  margin-top: 9px;
  list-style-type: none;
}

.checkbox-list__item-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 20px;
  cursor: pointer;
}

.checkbox-list__item-text {
  max-width: 192px;
  padding-left: 22px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.checkbox-list__item-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-list__item-custom-input {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: linear-gradient(0deg, #84d52c, #84d52c), linear-gradient(266.56deg, rgba(107, 171, 43, 0.2) 0%, rgba(132, 213, 44, 0) 94.16%);
}

.checkbox-list__item-input:not(:checked) ~ .checkbox-list__item-custom-input {
  background: transparent;
  border: 1px solid #959595;
}

.checkbox-list__item-input:not(:checked) ~ .checkbox-list__item-text {
  color: #959595;
  font-weight: normal;
}

.checkbox-list__item-input:checked + .checkbox-list__item-custom-input::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 1px;
}

html,
body {
  font-family: "ProximaNova", Arial, sans-serif;
  color: #fff;
  background-color: #171722;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova"), url("../assets/fonts/ProximaNova/proxima-nova-semibold.woff2") format("woff2"), url("../assets/fonts/ProximaNova/proxima-nova-semibold.woff") format("woff"), url("../assets/fonts/ProximaNova/proxima-nova-semibold.ttf") format("truetype"), url("../assets/fonts/ProximaNova/proxima-nova-semibold.svg#name") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova"), url("../assets/fonts/ProximaNova/proxima-nova-regular.woff2") format("woff2"), url("../assets/fonts/ProximaNova/proxima-nova-regular.woff") format("woff"), url("../assets/fonts/ProximaNova/proxima-nova-regular.ttf") format("truetype"), url("../assets/fonts/ProximaNova/proxima-nova-regular.svg#name") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.main {
  width: 100%;
  max-width: 1489px;
  margin: 0 auto;
  padding: 22px;
}

.main__search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__logo-wrapper {
  margin: 14px;
}

.main__search-wrapper {
  width: 100%;
  margin-left: 3px;
}

.main__slider-wrapper {
  width: 227px;
  margin: 17px 0 0 11px;
}

.main__result-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 12px;
}

.main__result-count {
  font-size: 16px;
  font-weight: bold;
}

.main__badge-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 30px;
}

.main__checkbox-list-wrapper {
  width: 243px;
  margin: 30px 5px;
  padding: 1px;
  background: linear-gradient(174.36deg, rgba(132, 213, 44, 0.36) 11.39%, rgba(23, 23, 34, 0) 189.78%);
  border-radius: 10px;
}

.main__checkbox-list {
  margin: 0 1px;
  padding: 14px 15px 2px 15px;
  background: #353542;
  border-radius: 10px;
}

.main__checkbox-list-group {
  margin-bottom: 18px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}