@use "../../core/config/scss" as config;

.checkbox-list {
  color: config.$colors-white;

  &__title {
    display: flex;
    justify-content: space-between;
    max-width: 204px;
    width: 100%;
    margin-bottom: 17px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__arrow {
    padding-top: 2px;
    padding-right: 18px;
    pointer-events: none;

    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: 1px solid config.$colors-unactive-body-form;
      border-width: 0 2px 2px 0;
      box-sizing: border-box;
      transform: rotate(45deg);
    }
  }

  &_opened > &__title > &__arrow {
    transform: rotateX(180deg);
  }

  &__list {
    display: none;
  }

  &_expandable > &__list {
    display: none;
  }

  &_opened > &__list {
    display: block;
  }

  &__item {
    list-style-type: none;
  }

  &__item-label {
    display: inline-flex;
    min-height: 20px;
    cursor: pointer;
  }

  &__item-text {
    max-width: 192px;
    padding-left: 30px;
    color: config.$colors-white;
    line-height: 20px;
  }

  &__item-input {
    position: absolute;
    appearance: none;
  }

  &__item-custom-input {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: config.$colors-green;
  }

  &__item-input:not(:checked) ~ &__item-custom-input {
    background: transparent;
    border: 1px solid config.$colors-unactive-body-form;
  }

  &__item-input:not(:checked) ~ &__item-text {
    color: config.$colors-unactive-body-form;
  }

  &__item-input:checked + &__item-custom-input::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid config.$colors-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
