@use '../components/search/search';
@use '../components/slider/slider';
@use '../components/checkbox-list/checkbox-list';

.main__logo-wrapper {
  margin: 50px;
}

.main__search-wrapper {
  margin: 50px;
}

.main__slider-wrapper {
  width: 255px;
  margin: 50px;
}

.main__badge-wrapper {
  margin: 50px;
}

.main__checkbox-list-wrapper {
  width: 243px;
  margin: 50px;
  padding: 20px;
  background: #353542;
  border: 1px solid #6bab2b;
  border-radius: 10px;
}