@use "../core/config/scss" as config;
@use "../core/lib/scss" as lib;
@use "../components/search/search";
@use "../components/slider/slider";
@use "../components/badge/badge";
@use "../components/checkbox-list/checkbox-list";

html,
body {
  @include lib.font("ProximaNova", 600, "proxima-nova-semibold");
  @include lib.font("ProximaNova", 400, "proxima-nova-regular");

  font-family: "ProximaNova", Arial, sans-serif;
  color: config.$colors-white;
  background-color: config.$colors-bg-color;
}

.main {
  width: 100%;
  max-width: 1489px;
  margin: 0 auto;
  padding: 22px;

  &__search-block {
    display: flex;
  }

  &__logo-wrapper {
    margin: 14px;
  }

  &__search-wrapper {
    width: 100%;
    margin-left: 3px;
  }

  &__slider-wrapper {
    width: 227px;
    margin: 17px 0 0 11px;
  }

  &__result-block {
    display: flex;
    align-items: center;
    margin: 12px;
  }

  &__result-count {
    font-size: 16px;
    font-weight: bold;
  }

  &__badge-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 30px;
  }

  &__checkbox-list-wrapper {
    width: 243px;
    margin: 30px 5px;
    padding: 1px;
    background: config.$colors-border-gradient;
    border-radius: 10px;
  }

  &__checkbox-list {
    margin: 0 1px;
    padding: 14px 15px 2px 15px;
    background: config.$colors-unactive-input;
    border-radius: 10px;
  }

  &__checkbox-list-group {
    margin-bottom: 18px;
  }
}
