@use "../core/config/scss" as config;
@use "../core/lib/scss" as lib;
@use "../components/search/search";
@use "../components/slider/slider";
@use "../components/badge/badge";
@use "../components/checkbox-list/checkbox-list";

html,
body {
  @include lib.font("ProximaNova", 600, "proxima-nova-semibold");
  @include lib.font("ProximaNova", 400, "proxima-nova-regular");

  font-family: "ProximaNova", Arial, sans-serif;
  background-color: config.$colors-bg-color;
}

.main__logo-wrapper {
  margin: 50px;
}

.main__search-wrapper {
  margin: 50px;
}

.main__slider-wrapper {
  width: 255px;
  margin: 50px;
}

.main__badge-wrapper {
  display: flex;
  gap: 10px;
  margin: 50px;
}

.main__checkbox-list-wrapper {
  width: 243px;
  margin: 50px;
  padding: 1px;
  background: config.$colors-border-gradient;
  border-radius: 10px;
}

.main__checkbox-list {
  margin: 0 1px;
  padding: 15px;
  background: config.$colors-unactive-input;
  border-radius: 10px;
}
