$black: #000;
$white: #fff;
$bg-color: #171722;
$unactive-body-form: #959595;
$unactive-input: #353542;
$slider-gray: #30303d;
$slider-green: #85d62d;
$border: #606060;
$dark-green: #297019;
$light-green: rgba(88, 170, 70, 0.9);
$green: #6bab2b;

$border-gradient: linear-gradient(
  174.36deg,
  rgba(132, 213, 44, 0.36) 11.39%,
  rgba(23, 23, 34, 0) 189.78%
);
$handle-gradient: linear-gradient(193.42deg, #85d62d 23.76%, #6bab2b 86.01%);
