@use "../../core/config/scss" as config;

.slider {
  color: config.$colors-white;

  &__title {
    margin-bottom: 30px;
  }

  &__limits {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__limit-min,
  &__limit-max {
    padding: 1px 5px;
    border: 1px solid config.$colors-border;
    border-radius: 3px;
  }

  &__limit-max {
    opacity: 0.5;
  }
}

.noUi {
  &-target {
    height: 4px;
    border: none;
    background: config.$colors-slider-gray;
    box-shadow: none;
    cursor: pointer;
  }

  &-base {
    border-radius: 4px;
  }

  &-connect {
    left: 8px;
    background: config.$colors-slider-green;
    box-shadow: 0px 3px 15px 0px rgba(132, 213, 44, 0.31);
  }

  &-handle::after,
  &-handle::before {
    display: none;
  }

  &-horizontal &-handle {
    width: 16px;
    height: 16px;
    background: config.$colors-handle-gradient;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 5px 12px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
  }

  &-horizontal &-tooltip {
    bottom: 180%;
    color: config.$colors-white;
    background: config.$colors-slider-gray;
    border: none;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: config.$colors-slider-gray transparent transparent
        transparent;
    }
  }
}
